<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><h2 class="center">Movie App</h2></a>
</nav>

<nav>
    <a class="btn btn-primary btn-lg active" href="/signup">Register</a>
    <a class="btn btn-primary btn-lg active" href="/signinout">Login</a>
    <a class="btn btn-primary btn-lg active" href="/">Movie List</a>
    <a class="btn btn-primary btn-lg active" href="/signinout/signout">Logout</a>    
</nav>

